<app-pageheader [title]="'Level Management'" (spanClicked)="redirectFromPageHeader($event)" [subtitle]="['Home','Level Management']" [customClass]="'level-custom-header'"></app-pageheader>

<div class="main-containt">
  <div class="toolbar-row">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
    <div class="adduser" *ngIf="checkAddPermission()">
      <app-button (click)="openAddLevelDialog()"
      [data]="{label: 'Add Level', color: 'primary', disabled: false, type: 'button', customClass: 'my-button-class'}">
    </app-button>
  </div>
</div>

<!-- <app-table [data]="levelList" [displayedColumns]="['id','name', 'level']" [totalItems]="totalLevels" [pageSize]="5"
  [pageIndex]="currentPage" (pageChange)="fetchLevels($event)">
</app-table> -->

<app-table
  [list]="levelList"
  [columns]="tableColumns"
  [pageSize]="pageSize"
  [pageIndex]="currentPage"
  [pageSizeOptions]="[5, 10, 50]"
  [isLoading]="false"
  [showPaginator]="true"
  [showToolbar]="true"
  [totalItems]="totalLevels"
  (sortChange)="onSortChange($event)"
  (pageChange)="fetchLevels($event)"
  (selectionChange)="onSelectionChange($event)"
  (editClicked)="onEdit($event)"
  (deleteClicked)="onDelete($event)"
  [columnPinnable]="true"
></app-table>
