.sidenav-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-nav-list {
  a {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0;

    mat-icon {
      margin-right: 16px;
      color: #555;
    }

    &.active {
      background-color: #f5f5f5;
      color: #3f51b5;
      font-weight: 600;

      mat-icon {
        color: #3f51b5;
      }
    }

    &:hover {
      background-color: #f0f0f0;
    }

    span {
      flex: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 200px;
  }
}

.sidenav-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img.sidenav-logo {
    height: 38px;
    width: auto;
    max-width: 80px;
    object-fit: contain;
  }
}
