// .sidenav-container {
//   height: 95vh;
//   display: flex;
//   flex-direction: column;
// }

// .sidenav {
//   width: 250px;
//   background-color: #fff;
//   border-right: 1px solid #e0e0e0;
// }

// mat-toolbar {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

// mat-nav-list {
//   a {
//     display: flex;
//     align-items: center;
//     color: #333;
//     padding: 0;

//     mat-icon {
//       margin-right: 16px;
//       color: #555;
//     }

//     &.active {
//       background-color: #f5f5f5;
//       color: #3f51b5;
//       font-weight: 600;

//       mat-icon {
//         color: #3f51b5;
//       }
//     }

//     &:hover {
//       background-color: #f0f0f0;
//     }

//     span {
//       flex: 1;
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   .sidenav {
//     width: 200px;
//   }
// }

// .sidenav-toolbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   img.sidenav-logo {
//     height: 38px;
//     width: auto;
//     max-width: 80px;
//     object-fit: contain;
//   }
// }


.sidenav-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
}

.profile-section {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fafafa;

  img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
  }

  .profile-info {
    display: flex;
    flex-direction: column;

    .name {
      font-weight: 600;
      font-size: 14px;
      color: #333;
    }

    .email {
      font-size: 12px;
      color: #777;
    }
  }
}

.sidenav-toolbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 64px;

  img.sidenav-logo {
    height: 40px;
    width: auto;
    margin-right: 12px;
  }

  span {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
}


mat-nav-list {
  a {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0;

    mat-icon {
      margin-right: 16px;
      color: #555;
    }

    &.active {
      background-color: #f5f5f5;
      color: #3f51b5;
      font-weight: 600;

      mat-icon {
        color: #3f51b5;
      }
    }

    &:hover {
      background-color: #f0f0f0;
    }

    span {
      flex: 1;
    }
  }
}

mat-expansion-panel {
  background: transparent;
  box-shadow: none;

  mat-expansion-panel-header {
    padding: 0 16px;

    mat-panel-title {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 16px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 200px;
  }
}
