<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-inner">
      <!-- Header Brand -->
      <div class="sidenav-toolbar">
        <div class="sidenav-logo">FS</div>
        <span class="sidenav-title">FrontStruct</span>
        <!-- <mat-slide-toggle></mat-slide-toggle> -->
      </div>

      <!-- User Profile -->
      <div class="profile-section">
        <img [src]="user.avatar" alt="avatar" class="avatar" />
        <div class="profile-info">
          <div class="name">{{ user.username }}</div>
          <div class="email">{{ user.userEmail }}</div>
        </div>
      </div>

      <!-- SCROLLABLE SIDENAV NAVIGATION -->
      <div class="sidenav-scroll">
        <mat-nav-list>
          <a mat-list-item              
           (click)="redirectTo('/')" >
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
            <!-- <span class="badge-count">5</span> -->
          </a>

          <!-- Non-expandable items -->
          <a mat-list-item              
          (click)="redirectTo('/usermanagement')" 
          [class.active]="isActive('/usermanagement')">
            <mat-icon>group</mat-icon>
            <span>Users</span>
          </a>

          <a mat-list-item 
            (click)="redirectTo('/rolemanagement')" 
            [class.active]="isActive('/rolemanagement')">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Role</span>
          </a>


          <a mat-list-item 
            (click)="redirectTo('/levelmanagement')" 
            [class.active]="isActive('/levelmanagement')"
            routerLinkActive="active">
            <mat-icon>bar_chart</mat-icon>
            <span>Level</span>
          </a>

          <a mat-list-item 
            (click)="redirectTo('/modulemanagement')" 
            [class.active]="isActive('/modulemanagement')"
            routerLinkActive="active">
            <mat-icon>view_module</mat-icon>
            <span>Module</span>
          </a>

          <div class="custom-expansion">
            <mat-expansion-panel>
                          <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>fact_check</mat-icon>
                <span class="expandDesign">Test</span>
              </mat-panel-title>
              <!-- <span class="badge-new">NEW</span> -->
            </mat-expansion-panel-header>
              <mat-action-list>
              <div class="custom-expansion">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                                <mat-panel-title>
                                 <mat-icon>palette</mat-icon>
                                 <span class="expandDesign">check</span>
                                 </mat-panel-title>
                  </mat-expansion-panel-header>
                   <mat-action-list>
                                  <a mat-list-item>
                <mat-icon>quiz</mat-icon>Test1</a>
                 <a mat-list-item><mat-icon>quiz</mat-icon>Test2</a>
                 <a mat-list-item><mat-icon>quiz</mat-icon>Test3</a>
                   </mat-action-list>
                </mat-expansion-panel>
              </div>
              <a mat-list-item>
                <mat-icon>quiz</mat-icon>Test1</a>
              <a mat-list-item><mat-icon>quiz</mat-icon>Test2</a>
              <a mat-list-item><mat-icon>quiz</mat-icon>Test3</a>
            </mat-action-list>
            </mat-expansion-panel>
          </div>
          
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>