:host ::ng-deep .mat-badge-content {
    --mat-badge-background-color: #ef0000;
    --mat-badge-text-color: #fff;
}

.header {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    background-color: #efedf0;
    color: rgb(68, 71, 78);

    .spacer {
        flex: 1;
    }

    .avatar {
        border-radius: 50%;
        object-fit: cover;
    }


    // mat-icon {
    //     color: #fff !important; // ✅ Force white icon
    // }
}

.list mat-nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;

}

mat-list-item {
    width: auto;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: #d9d9d9;
        color: #006064;
    }

}