.heading h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}


.toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  flex-wrap: wrap; // allows wrapping on smaller screens
  gap: 1rem;

  app-search-bar {
    flex: 1 1 300px; // grow, shrink, min width
    min-width: 250px;
  }

  .add-module {
    flex: 0 0 auto; // no grow, no shrink, width auto
    // make button smaller on mobile if needed
  }
}
.custom-dialog-container {
  padding: 0;  /* remove extra padding */
  overflow: visible !important;  /* allow content to expand naturally */
  box-sizing: border-box;
}



/* Table wrapper for responsiveness */
app-table {
  width: 100%;
  overflow-x: auto;
}

/* For smaller screens, center heading and stack toolbar items */
@media (max-width: 600px) {
  .heading h1 {
    font-size: 1.5rem;
  }

  .add-module app-button {
    width: 100%;
  }


  
}

.main-containt {
  margin: 16px;
}