// .container {
//     max-width: 500px;
//     margin: 0 auto;
//     padding: 20px;
// }

.button-container {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
 }

.heading {
    text-align: center;
}

.feilds {
    display: flex;
    flex-direction: column; /* stack vertically */
    width: 100%;
    gap: 16px; /* add some space between them */
}



