<div class="container">
    <h2 class="heading">Listing From</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="feilds">
            <app-input
                [data]="{label: 'Name', placeholder: 'Enter your name', type: 'text', control: nameControl, errorMessage: 'Name is required',customClass: 'my-input-style'}"
                (onChange)="handleChange($event)">
            </app-input>
            <app-input
                [data]="{label: 'Password', placeholder: 'Enter your password', type: 'password', control: passwordControl, errorMessage: 'Password is required',customClass: 'my-input-style'}">
            </app-input>
            <app-input
                [data]="{label: 'Email', placeholder: 'Enter your email', type: 'email', control: emailControl, errorMessage: 'Email is required',customClass: 'my-input-style'}">
            </app-input>
            <app-input
                [data]="{label: 'Mobile', placeholder: 'Enter your mobile', type: 'number', control: mobileControl, errorMessage: 'Mobile is required',customClass: 'my-input-style'}">
            </app-input>
            <app-date-picker
                [data]="{ control: dateControl, label: 'Date of Birth', placeholder: 'Select your DOB', errorMessage: 'Date is required', customClass: 'my-date-class'}">
            </app-date-picker>
             <app-input
                [data]="{label: 'Address', placeholder: 'Enter your address', type: 'text', control: addressControl, errorMessage: 'Address is required',customClass: 'my-input-style'}">
            </app-input>
        </div>
        <div class="button-container">
            <app-button
                [data]="{label: 'Submit',color: 'primary',icon: 'send',disabled: false,type: 'submit',customClass: 'my-button-class'}">
            </app-button>
        </div>

    </form>

</div>