.custom-header {
  background-color: #2196f3;
  color: white;
}

mat-card {
  padding-bottom: 16px;
  border-radius: 0 !important;
}

.custom-header mat-card-subtitle {
  color: white;
}

.subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // margin: 14px;
  // margin-bottom: 16px;
  margin-top: 10px;
}

.span {
  cursor: pointer;
}

span {
  font-size: medium;
  font-weight: 200;
}

.title {
  font-size: x-large;
  font-weight: 500;

}