<app-pageheader
  [title]="'User Profile'"
  [subtitle]="['Home', 'Profile']"
  [customClass]="'edit-profile-header'"
  (spanClicked)="redirectFromPageHeader($event)"
>
</app-pageheader>

<div class="edit-profile-container">
  <div class="profile-card-wrapper">
    <app-profile-card [user]="user" [data]="data" (logoutClicked)="logout()">
    </app-profile-card>
  </div>

  <mat-card class="edit-form-card">
    <mat-card-content class="white-container">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non velit
        vel nulla luctus lacinia. Sed vitae sodales tortor. Nulla facilisi. Cras
        ac sapien at tortor vehicula commodo. Aenean bibendum orci id facilisis
        suscipit. Integer sagittis lacus sit amet nunc consectetur, a commodo
        erat fermentum.
      </p>
      <p>
        Proin vulputate metus vel ligula suscipit, et egestas urna consequat.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Suspendisse potenti.
      </p>
    </mat-card-content>
  </mat-card>
</div>
