.profile-card-wrapper {
  width: 100%; 
  max-width: 100%;
  
  @media (min-width: 768px) { 
    width: 25%;
    max-width: 25%;
  }
}

.edit-profile-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: row;
}

.navlist {
  text-align: left;
}

.edit-form-card {
  flex: 1;
  min-width: 0;
  width: 100%;
}

.two-column-container {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.input {
  width: 100%;
}

.column app-input {
  width: 100%;
}

@media (max-width: 480px) {
  .edit-profile-container {
    flex-direction: column;
  }

  .edit-form-card {
    width: 100%;
  }

  .two-column-container {
    flex-wrap: wrap;
  }
}
