<!-- <mat-form-field [appearance]="data.appearance || 'fill'" class="full-width" [ngClass]="data.customClass">
  <mat-label>{{ data.label || data.placeholder }}</mat-label>
  <mat-select [formControl]="data.control" (selectionChange)="selectionChange.emit($event)">
    <mat-option *ngFor="let option of data.options" [value]="option.value">{{ option.label }}</mat-option>
  </mat-select>
  <mat-error *ngIf="data.control?.invalid && data.control?.touched">
    {{ data.errorMessage }}
  </mat-error>
</mat-form-field> -->


<mat-form-field class="full-width" [ngClass]="data.customClass">
  <mat-label>{{ data.label || data.placeholder }}</mat-label>
  <mat-select [formControl]="data.control" (selectionChange)="selectionChange.emit($event)">
    <mat-option *ngFor="let option of data.options" [value]="option.value">{{ option.label }}</mat-option>
  </mat-select>
  <mat-error *ngIf="data.control?.invalid && data.control?.touched">
    {{ data.errorMessage }}
  </mat-error>
</mat-form-field>