.edit-profile-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding: 10px;
}

.profile-card {
  flex: 0 0 300px;
  max-width: 300px;
  width: 300px;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 8px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.name {
  margin: 8px 0;
  font-weight: 400;
}

.job-title {
  margin: 8px 0;
}

.bio {
  margin: 8px 0;
  color: grey;
}

.actions {
  margin-top: 8px;

  a,
  button {
    margin-right: 8px;
    border-radius: 20px;
  }
}

.navlist {
  text-align: left;
}

.edit-form-card {
  flex: 1;
  min-width: 400px;
}

.two-column-container {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.input {
  width: 100%;
}

.column app-input {
  width: 100%;
}

@media (max-width: 768px) {
  .two-column-container {
    flex-wrap: wrap;
  }
}

.white-container{
  padding: 16px 16px 16px;
}