<div class="responsive-form">
    <h2 class="form-title">Add User</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
        <div class="form-grid">
            <div class="form-group">
                <app-input
                    [data]="{label: 'Name', placeholder: 'Enter name', type: 'text', control: nameControl, errorMessage: 'Name is required'}">
                </app-input>
            </div>
            <div class="form-group">
                <app-input
                    [data]="{label: 'Email', placeholder: 'Enter email', type: 'email', control: emailControl, errorMessage: 'Valid email required'}">
                </app-input>
            </div>
            <div class="form-group">
                <app-input
                    [data]="{label: 'Password', type: 'password', placeholder: 'Enter password', control: passwordControl, errorMessage: showPasswordError(), isPasswordToggle: true,customClass: 'add-user-password'}">
                </app-input>
            </div>
            <div class="form-group">
                <app-input [data]="{label: 'Confirm Password', type: 'password', placeholder: 'Re-enter Password ', control: confirmPasswordControl, errorMessage: showConfirmPasswordError(), isPasswordToggle: true,customClass: 'add-user-password'}">
                </app-input>
            </div>
            <div class="form-group">
                <app-input
                    [data]="{label: 'Mobile', placeholder: 'Enter mobile', type: 'tel', control: mobileControl, errorMessage: 'Valid number required'}">
                </app-input>
            </div>
            <div class="form-group">
                <app-input
                    [data]="{label: 'Device ID', placeholder: 'Enter device ID', type: 'text', control: deviceIdControl, errorMessage: 'DeviceId is required'}">
                </app-input>
            </div>
            <div class="form-group">
                <app-input
                    [data]="{label: 'User ID', placeholder: 'Enter user ID', type: 'text', control: userIdControl, errorMessage: 'UserId id required'}">
                </app-input>
            </div>
            <div class="form-group">
                <app-input
                    [data]="{label: 'IPv4', placeholder: 'Enter IPv4', type: 'text', control: iv4Control, errorMessage: 'Valid IPv4 required'}">
                </app-input>
            </div>
            <div class="form-group">
                <app-input
                    [data]="{label: 'IPv6', placeholder: 'Enter IPv6', type: 'text', control: iv6Control, errorMessage: 'Valid IPv6 required'}">
                </app-input>
            </div>
            <div class="form-group">
                <app-select
                    [data]="{label: 'User Role',placeholder: 'Select role',options: roleOptions, control: roleControl, errorMessage: 'Role is required', customClass: 'add-user-select'}">
                </app-select>
            </div>
            <div class="form-group">
                <app-select
                    [data]="{label: 'Wallet Type',placeholder: 'Select wallet',options: walletOptions, control: walletControl, errorMessage: 'Wallet is required'}">
                </app-select>
            </div>
        </div>
        <div class="form-footer">
            <app-button [data]="{label: 'Submit',color: 'primary',type: 'submit',customClass: 'submit-btn'}">
            </app-button>
        </div>
    </form>
</div>