.responsive-form {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
    max-height: 80vh;
}

.form-title {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 1.8rem;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

app-input,
app-select,
app-date-picker {
    width: 100%;
    margin-bottom: 5px;
}

.custom-inputs {
    width: 100%;
}

.form-footer {
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .responsive-form {
        padding: 15px;
    }

    .form-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}


app-date-picker .uniform-width {
    display: block;
}

.form-group {
    width: 100%;
}

@media (max-width: 768px) {
    .uniform-width {
        width: 100% !important;
    }
}

@media (max-width: 480px) {
    .submit-btn {
        width: 100%;
    }

    .form-title {
        font-size: 1.3rem;
    }
}

