
<app-pageheader [title]="'Dashboard'" [subtitle]="['Home']" [customClass]="'dashboard-custom-header'" (spanClicked)="redirectFromPageHeader($event)"></app-pageheader>
  <!-- Your content here -->
<div class="stats-grid">
  <div class="stat-card" *ngFor="let stat of stats">
    <mat-card [ngClass]="['stat-card-content', stat.color]">
      <mat-card-header>
        <mat-card-subtitle class="stat-title">{{ stat.title }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 class="stat-amount">{{ stat.amount }}</h2>

        <mat-progress-bar mode="determinate" [value]="stat.progress.value" color="primary"
          class="stat-progress-bar"></mat-progress-bar>

        <small class="stat-footer">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="chart">
  <app-chart [chartOptions]="chartOptions"></app-chart>
  <app-chart [chartOptions]="chartOptions"></app-chart>
</div>
  