<mat-form-field   [ngClass]="[
    data.customClass ? data.customClass : 'default-cls',
    data.control.invalid && data.control.touched ? 'error-spacing' : ''
  ]" appearance="outline" class="full-width">
  <mat-label>{{ data.label || 'Text Field' }}</mat-label>
  <input
    matInput
    [type]="inputType"
    [formControl]="data.control"
    [placeholder]="data.placeholder || ''"
    (focus)="onfocus($event)"
    (blur)="onBlur.emit($event)"
    (input)="onInput.emit($event)"
    (change)="onChangeTrigger($event)"
    (keydown)="onKeyDown($event)"
  >

  <mat-icon *ngIf="data.icon?.length" matSuffix>{{ data.icon }}</mat-icon>

  <button
    *ngIf="data.isPasswordToggle"
    mat-icon-button
    matSuffix
    tabindex="-1"
    (click)="togglePasswordVisibility()"
    type="button"
  >
  
    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-error class="error" *ngIf="data.control.invalid && data.control.touched">
   <span> {{ data.errorMessage || 'Invalid field' }}</span>
  </mat-error>
</mat-form-field>
