<div class="dialog-wrapper">
  <mat-dialog-content>
    <div class="icon-wrapper">
      <div class="icon-circle">
        <mat-icon fontIcon="delete" aria-hidden="false" aria-label="Delete icon"></mat-icon>
      </div>
    </div>

    <h4 class="confirm-text">Are you sure you want to Delete?</h4>

    <div class="button-container">
      <button mat-flat-button color="accent" (click)="onNoClick()">No</button>
      <button mat-flat-button color="primary" (click)="deleteRole()">Yes</button>
    </div>
  </mat-dialog-content>
</div>
