<h2 mat-dialog-title>Add New Level</h2>

<mat-dialog-content>
  <form [formGroup]="levelForm" (ngSubmit)="onSave()">
    <app-input
      [data]="{label: 'Level', placeholder: 'Enter your level', type: 'number', control: levelControl, errorMessage: 'Level is required', customClass: 'my-input-style'}">
    </app-input>
  
    <div class="button-container">
      <app-button
        [data]="{label: 'Submit', color: 'primary', icon: 'send', disabled: levelForm.invalid, type: 'submit', customClass: 'my-button-class'}">
      </app-button>
    </div>
  </form>
</mat-dialog-content>