.app-footer {
    background-color: #ddd;
    color: #423f3f;
    padding: 2rem 1rem;
    width: auto;

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 2rem;
        max-width: 1200px;
        margin: auto;

        .footer-section {
            flex: 1 1 200px;

            .footer-title {
                margin-bottom: 0.5rem;
                font-weight: bold;
                font-size: 1.1rem;
            }

            a {
                display: block;
                color: #423f3f;
                margin: 0.2rem 0;
                font-size: 0.9rem;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .footer-bottom {
        text-align: center;
        margin-top: 2rem;
        font-size: 0.8rem;
        color: #111010;
    }
}