<footer class="app-footer mat-elevation-z4">
  <!-- <div class="footer-container">
    <div class="footer-section">
      <h3 class="footer-title">Company</h3>
      <a mat-button>About</a>
    </div>

    <div class="footer-section">
      <h3 class="footer-title">Resources</h3>
      <a mat-button>Docs</a>
      <a mat-button>Blog</a>
    </div>

    <div class="footer-section">
      <h3 class="footer-title">Legal</h3>
      <a mat-button>Privacy</a>
    </div>
  </div> -->

  <div class="footer-bottom">
    <p>&copy; 2025 My Company. All rights reserved.</p>
  </div>
</footer>
