<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>👋 {{ 'Welcome Back' | translate }}!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        <app-input
          [data]="{label: 'Email',  placeholder: 'Enter your email', type: 'email', control: identifierControl, errorMessage: emailError(), customClass: 'login-input', validation: 1}">
        </app-input>

        <app-input
          [data]="{label: 'Password', type: 'password', placeholder: 'Enter your password', control: passwordControl, errorMessage: showPasswordError(), isPasswordToggle: true, customClass: 'login-input'}">
        </app-input>
        <div class="submit">
          <app-button
            [data]="{label: 'login',color: 'primary',icon: '',disabled: false,type: 'submit',customClass: 'login-submit-button'}">
          </app-button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>