<div class="login-page">
  <div class="login-container">
    <img src="../../../assets/images/logo-awc.png" alt="Logo" class="login-logo" />
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="login-form">
      <div class="custom-input mb-20">
        <!-- <mat-form-field appearance="outline" >
          <input matInput formControlName="identifier" placeholder="Enter your email" />
        </mat-form-field> -->
        <app-input
          [data]="{label: 'Email', placeholder: 'Enter your email', type: 'email', control: identifierControl, errorMessage: 'Email is required',customClass: ''}">
        </app-input>
      </div>

      <div class="custom-input mb-20">
        <app-input
          [data]="{label: 'Password', type: 'password', placeholder: 'Enter your password', control: passwordControl, errorMessage: 'Password is required', isPasswordToggle: true, customClass: ''}">
        </app-input>
      </div>

      <app-button
        [data]="{label: 'Submit',color: 'primary',icon: '',disabled: false,type: 'submit',customClass: 'my-button-class'}">
      </app-button>
    </form>

    <div *ngIf="isProcessing" class="loader-overlay">
      <div class="spinner"></div>
    </div>
  </div>
</div>