.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../../assets/bg_login-d1601548.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid gold;
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
}

.login-logo {
  width: 200px;
  margin: 0 auto 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

// .login-input {
//   margin-bottom: 1rem;
//   background-color: white;
//   border-radius: 4px;
// }

.login-button {
  background: linear-gradient(to right, #f5c542, #d6a400);
  color: #000;
  font-weight: bold;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #f5c542;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.7s linear infinite;
}

// mat-form-field {
//   width: 100%;
//   background-color: white;
//   border-radius: 6px;
//   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
//   padding: 0 !important;
// }

// .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: transparent; // hide default outline
// }

// .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//   border-color: gold !important;
//   border-width: 2px;
// }

// input.mat-input-element {
//   padding: 0.75rem 1rem;
//   font-size: 1rem;
//   border-radius: 6px;
// }

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: none !important;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
