.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 16px;
background: #EEAECA;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);  color: black;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.register-link {
  margin-top: 16px;
  text-align: center;
}

mat-card-content {
  margin-top: 30px;
}

.submit {
  padding-bottom: 20px !important;
}
