<div class="heading">
  <h1>User Management</h1>
</div>
<div class="toolbar-row">
  <app-search-bar (search)="onSearch($event)"></app-search-bar>
  <div class="adduser" *ngIf="checkAddPermission()">
    <app-button
    [data]="{label: 'Add User',color: 'primary',disabled: false,type: 'button',customClass: 'my-button-class'}" (click)="openAddUserlDialog()">
  </app-button>
</div>
</div>
<app-table [data]="userList" [displayedColumns]="['id','name', 'email','mobile', 'role', 'userId']" [totalItems]="totalUsers" [pageSize]="5"
  [pageIndex]="currentPage" (pageChange)="fetchUsers($event)">
</app-table>