<app-pageheader [title]="'User Management'" [subtitle]="['Home','User Management']" [customClass]="'user-custom-header'" (spanClicked)="redirectFromPageHeader($event)"></app-pageheader>

<div class="main-containt">
  <div class="toolbar-row">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
  <div class="adduser" *ngIf="checkAddPermission()">
    <app-button
    [data]="{label: 'Add User',color: 'primary',disabled: false,type: 'button',customClass: 'my-button-class'}" (click)="openAddUserlDialog()">
  </app-button>
</div>
</div>
<!-- <app-table [data]="userList" [displayedColumns]="['id','name', 'email','mobile', 'role', 'userId']" [totalItems]="totalUsers" [pageSize]="5"
  [pageIndex]="currentPage" (pageChange)="fetchUsers($event)">
</app-table> -->

<app-table
  [list]="userList"
  [columns]="tableColumns"
  [pageSize]="pageSize"
  [pageIndex]="currentPage"
  [pageSizeOptions]="[5, 10, 50]"
  [isLoading]="false"
  [showPaginator]="true"
  [showToolbar]="true"
  [totalItems]="totalUsers"
  (sortChange)="onSortChange($event)"
  (pageChange)="fetchUsers($event)"
  (selectionChange)="onSelectionChange($event)"
  [columnPinnable]="true"
></app-table>
