<app-pageheader [title]="'Role Management'" [subtitle]="['Home','Role Management']"
  (spanClicked)="redirectFromPageHeader($event)"></app-pageheader>

<div class="main-containt">

  <div class="toolbar-row">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
    <div class="adduser" *ngIf="permissions('Role Management','write')">
      <app-button
        [data]="{label: 'Add Role', color: 'primary', disabled: false, type: 'button', customClass: 'my-button-class'}"
        (click)="openAddRolelDialog()">
      </app-button>
    </div>
  </div>

<!-- <app-table [data]="roleList" [displayedColumns]="tableColumns" [totalItems]="totalRoles"
  [pageSize]="5" [pageIndex]="currentPage" (pageChange)="fetchUsers($event)" [columnTemplates]="columnTemplatesMap">
</app-table> -->

<app-table [list]="roleList" [columns]="tableColumns" [pageSize]="pageSize" [pageIndex]="currentPage"
  [pageSizeOptions]="[5, 10, 50]" [isLoading]="false" [showPaginator]="true" [showToolbar]="true"
  [totalItems]="totalRoles" (sortChange)="onSortChange($event)" (pageChange)="fetchUsers($event)"
  [columnPinnable]="true" (selectionChange)="onSelectionChange($event)"></app-table>


  <ng-template #statusTemplate let-row>
    <mat-icon (click)="openPermissionDialog(row)" color="primary">{{ 'add' }}</mat-icon>
  </ng-template>

  <ng-template #deleteTemplate let-row>
    <mat-icon (click)="openDeleteDialog(row)" color="primary">{{ 'delete' }}</mat-icon>
  </ng-template>
</div>