<div class="heading">
  <h1>Role Management</h1>
</div>


<div class="toolbar-row" >
  <app-search-bar (search)="onSearch($event)"></app-search-bar>
  <div class="adduser" *ngIf="permissions('Role Management','write')">
    <app-button
      [data]="{label: 'Add Role', color: 'primary', disabled: false, type: 'button', customClass: 'my-button-class'}"
      (click)="openAddRolelDialog()">
    </app-button>
  </div>
</div>

<app-table
  [data]="roleList"
  [displayedColumns]="['id','name', 'level']"
  [totalItems]="totalRoles"
  [pageSize]="5"
  [pageIndex]="currentPage"
  (pageChange)="fetchUsers($event)">
</app-table>