@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

:root {
  --primary-color: #E7BE43;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-input-style {
  padding: 8px;
  height: 70px;
  width: 40vw;
}

.input-style {
  width: 100%;
}

.my-date-class {
  padding: 8px;
  height: 70px;
  width: 40vw;
}

.mb-20 {
  margin-bottom: 20px;
}

.login-submit-button {
  width: 100%;
  margin-top: 16px;
  border-radius: 20px !important;
}

.login-input {
  width: 100%;
}

app-input .login-input .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
app-input .login-input .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  width: 100%;
  color: black !important;
}

.add-user-password {
  width: 212px !important;
  min-width: 100px !important;
  max-width: 400% !important;
  box-sizing: border-box !important;
}

.add-module-input {
  width: 100%;
}

.add-module-submit-button {
  margin-bottom: 10px;
}

.dashboard-custom-header {
  color: black;
  padding-bottom: 10px;
  background-color: #27b139 !important;
}

.dashboard-custom-header mat-card-subtitle {
  color: black;
}

.level-custom-header {
  color: black;
  padding-bottom: 10px;
  background-color: #2791b1 !important;
}

.level-custom-header mat-card-subtitle {
  color: black;
}

.user-custom-header {
  color: white;
  padding-bottom: 10px;
  background-color: #b12783 !important;
}

.user-custom-header mat-card-subtitle {
  color: white;
}

.user-table-head-bg{
  background-color: green !important;
}